<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Call Us Today! +91.111.111.1111 | info@yourdomain.com</p>
        </div>
        <div class="col-md-6">
            <div class="social">
                <ul class="socialicons pull-right">
                    <li><a href=""><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-twitter-square"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-google-plus-square"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-youtube-square"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-pinterest-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>